body {
  margin: 0;
  padding: 0;
  font-family: 'HAL Timezone';
}

  .cursor {
    height: 50vh;
    color: #A9452D;
    background: #F7F2EA;
    margin-bottom: 20vh;
  }

  .cursor--full {
    height: 100svh;
    display: flex;
    align-items: flex-end;
    /* padding: 40px; */
  }

  .cursor h1 {
    font-size: 12vw;
    line-height: 1;
    margin: 0;
    font-family: 'HAL Timezone';
  }

  canvas {
    border: none;
  }