.image-row-row {
  margin-left: 0;
  margin-right: 0;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 750px) {
  .image-row {
    gap: 10px;
  }
}

  .image-row li {
    flex: 1;
  }

  @media only screen and (min-width: 750px) {
    .image-row li {
      max-width: 25vw;
    }
  }

@media screen and (max-width: 750px) {
  .image-row li:nth-child(n + 3) {
    display: none;
  }
}

  .image-row li img {
    width: 100%;
    object-fit: cover;
    transition: transform 666ms;
  }

  .image-row li img:hover {
    transform: translateY(-10%) rotate(-4deg);
  }

.image-row--small img {
  height: min(35lvh, 35lvw);
}

.image-row--medium img {
  height: min(50lvh, 60lvw);
}

.image-row--large img {
  height: min(100lvh, 100lvw);
}